# SQLContext Sharing <a name="top"></a>

This example shows how Toree enables sharing of the SQLContext across the variety of languages that it supports (Scala, Python, R, SQL). To demostrate, this notebook will load data using one language and read it from another. Refer to the [Spark documentation](http://spark.apache.org/docs/latest/sql-programming-guide.html) for details about the DataFrame and SQL APIs.

<div class="alert alert-info" role="alert" style="margin-top: 10px">
<p><strong>Note</strong><p>

<p>Due to an issue installing R and running it using DockerMachine, we are not able to show an example with R.</p>
</div>

**Table of Contents**

1. [Create a DataFrame in Scala](#create-in-scala)
2. [Read DataFrame in Python](#read-in-python)
3. [Create a DataFrame in Python](#create-in-python)
4. [Read DataFrame in Scala](#read-in-scala)
5. [Read DataFrame in SQL](#read-in-sql)

### Create a DataFrame in Scala <a name="create-in-scala"></a><span style="float: right; font-size: 0.5em"><a href="#top">Top</a></span>

In [ ]:
val people = spark.read.json("people.json")
people.createOrReplaceTempView("people")
people.show()

## Read DataFrame in Python <a name="read-in-python"></a> <span style="float: right; font-size: 0.5em"><a href="#top">Top</a></span>

In [ ]:
%%PySpark
people = spark.table("people")
people.show()

## Create a DataFrame in Python <a name="create-in-python"></a> <span style="float: right; font-size: 0.5em"><a href="#top">Top</a></span>

In [ ]:
%%PySpark
cars = spark.read.json("cars.json")
cars.createOrReplaceTempView("cars")
cars.show()

## Read DataFrame in Scala <a name="read-in-scala"></a><span style="float: right; font-size: 0.5em"><a href="#top">Top</a></span>

In [ ]:
val cars = spark.table("cars")
cars.show()

## Read DataFrame in SQL <a name="read-in-sql"></a><span style="float: right; font-size: 0.5em"><a href="#top">Top</a></span>

In [ ]:
%%sql
select * from cars where manufacturer == 'Audi'